.card::before {
    height: 10px;
    width: 10px;
    margin-top: 30px;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(191, 219, 254, 1);
    border-top: 10px solid transparent;
    content: "";
    top: 0;
    left: 0;
}

.text_editor ol li {
    list-style: decimal;
    margin-left: 3rem;
}

.text_editor ul li {
    list-style: disc;
    margin-left: 3rem;
}